.no_finish {
    display: none;
}

.finish {
    font-size: 1rem;
}

.link_play{
    color:green;
}

.link_play:hover{
    color:rgb(5, 214, 5);
    
}

.wrong_answer {
    color: red;
    font-size: 1rem;
}